<fieldset>
	<%= error_messages_for @question %>

	<%= nested_form_for @question, html: { :multipart => true } do |f| %>
		<div class='field'>
			<%= f.label :title, 'Woord van de afbeelding' %>
			<%= f.text_field :title, placeholder: 'Vul de vraag in!' %>
		</div>
		<div class='field'>
			<%= f.label :language, 'Taalkeuze' %>
			<%= f.collection_select(:language_id, Language.all, :id, :title) %>
		</div>
		<%= f.hidden_field :category_id, value: 2 %>
		
		<%= f.fields_for :answers do |answer| %>
			<div class='field'>
	      <img scr='#', class='imagePreview' />
	      <%= f.label :answer, 'Juiste afbeelding' %>
				<%= answer.file_field :image, class: 'imageUpload'  %>
				<%= answer.hidden_field :image_cache %>
			</div>
			<div class='field'>
	      <img scr='#', class='imagePreview' />
	      <%= f.label :answer, 'Andere afbeelding' %>
				<%= answer.file_field :image, class: 'imageUpload'  %>
				<%= answer.hidden_field :image_cache %>
			</div>
		<% end %>
		<p><%= f.link_to_add "Afbeelding toevoegen!", :answers, class: 'jsTriggerAnswers' %></p>
		
		<div class='actions'>
			<%= f.submit 'Versturen', data: { disable_with: 'Aan het versturen...' } %>
		</div>
	<% end %>
</fieldset>