<fieldset>
	<%= error_messages_for @question %>

	<%= nested_form_for @question, html: { :multipart => true } do |f| %>
		<div class='field'>
			<%= f.label :image, 'Voeg een afbeelding toe!' %>
			<% if @question.image? %>
        <%= image_tag @question.image.url(:thumb), class: 'imagePreview' %>
      <% else %>
         <img scr='' class="imagePreview" />
      <% end %>
			<%= f.file_field :image, class: 'imageUpload' %>
			<%= f.hidden_field :image_cache %>
		</div>
		<div class='field'>
			<%= f.label :language, 'Taalkeuze' %>
			<%= f.collection_select(:language_id, Language.all, :id, :title) %>
		</div>
		<%= f.hidden_field :category_id, value: 3 %>

		<%= f.label :answer, 'Antwoord' %>
		<%= f.fields_for :answers do |answer| %>
			<div class='answerfield'>
				<%= answer.text_field :title, placeholder: 'Voeg een antwoord toe!' %>
			</div>
		<% end %>
		<p><%= f.link_to_add "Antwoord toevoegen!", :answers, class: 'jsTriggerAnswers3' %></p>
		
		<div class='actions'>
			<%= f.submit 'Versturen', data: { disable_with: 'Aan het versturen...' } %>
		</div>
	<% end %>
</fieldset>