<div class='question clearfix'>
  
  <h6><%= @question.category.title %></h6>
  
  <p class="language <%= @question.language.title.downcase %>">
    <% if @question.category_id == 3 %>
      Maak het <span><%= @question.language.title %>e</span> woord in letters
    <% elsif @question.category_id == 2 %>
      Kies de juiste <span>afbeelding</span> bij het woord
    <% else %>
      Kies het <span>Juiste</span> antwoord
    <% end %>
  </p>
  
  <% if @question.image? %>
    <div class='question-image'>
      <%= image_tag @question.image %>
    </div>
  <% end %>

  <% if @question.category_id == 1 %>
  <div class='normal-question'> 

    <h3><%= @question.title %></h3>

    <% @question.answers.each_with_index do |answer, index| %>
      <div class= 'answer <%= 'correct_answer' if index == 0 %> <%= 'wrong_answer' if index != 0 %>'><%= answer.title %></div>
    <% end %>
  </div>
  
  <% elsif @question.category_id == 2 %>  
    <div class="choose-image clearfix">

      <h3><%= @question.title %></h3>

      <div>
        <% @question.answers.each_with_index do |answer, index| %>
        <div class="image-container">
          <div>
            <%= image_tag answer.image.url(:image_cropped), class: 'wrong_answer' if index != 0 %>
            <%= image_tag answer.image.url(:image_cropped), class: 'correct_answer' if index == 0 %>
          </div>
        </div>
        <% end %>
      </div>
    </div>


  <% elsif @question.category_id == 3 %>

    <div class='write-word'>

      <div class='check-letters clearfix'>
        <ul class="clearfix">
        <% @question.answers.first.title.chars.each do |c| %>
          <li>
            <%= c %>
          </li>
        <% end %>
      </div>
    
    </div>

  <% end %>

</div>
<ul class="btn-container">
  <% if @question.approved != true %>
    <li>
      <%= link_to 'Goedkeuren', approve_path(@question), class: 'btn-default correct' %>
    </li>
  <% end %>
  <li>
    <%= link_to 'Aanpassen', edit_question_path(@question), class: 'btn-default edit' %>
  </li>
  <li>
    <%= link_to 'Verwijderen', @question, method: :delete, data: { confirm: 'Weet je het zeker?' }, class: 'btn-default delete' %>
  </li>
</ul>