<div class='question clearfix'>
	
	<h6><%= @question.category.title %></h6>
	
	<p class="language <%= @question.language.title.downcase %>">
		<% if @question.category_id == 3 %>
			Maak het <span><%= @question.language.title %>e</span> woord in letters
		<% elsif @question.category_id == 2 %>
			Kies de juiste <span>afbeelding</span> bij het woord
		<% else %>
      Kies het <span>Juiste</span> antwoord
    <% end %>
	</p>
	
	<% if @question.image? %>
		<div class='question-image'>
			<div class="timer-container">
				<div class='timer'></div>
			</div>
			<%= image_tag @question.image %>
		</div>
	<% end %>

	<% if @question.category_id == 1 %>
	<div class='normal-question'>	
		<% if !@question.image? %>
		<div class="timer-container">
			<div class='timer'></div>
		</div>
		<% end %>

		<h3><%= @question.title %></h3>

		<div class='answer-container jsData' data-answer='<%= @question.answers.first.title %>' data-question-id='<%= @question.id %>'  data-wrong-answer-id='<%= @question.correct_answer_id + 1 %>'>
			<% @question.answers.shuffle.each do |answer| %>
				<%= link_to answer.title, submit_answer_path(@question, answer_id: answer.id), remote: true, class: 'js-answer-trigger answer' %>
			<% end %>
		</div>
	</div>
	
	<% elsif @question.category_id == 2 %>	
		<div class="choose-image clearfix">
			<div class="timer-container">
				<div class='timer'></div>
			</div>

			<h3><%= @question.title %></h3>

			<div class='jsData' data-question-id='<%= @question.id %>'  data-wrong-answer-id='<%= @question.correct_answer_id + 1 %>' data-answer='<%= @question.answers.first.image.url(:image_cropped) %>'>
				<% @question.answers.shuffle.each do |answer| %>
				<div class="image-container">
					<div>
						<a class='js-answer-trigger' data-remote='true' href='<%= submit_answer_path(@question, answer_id: answer.id) %>'>
							<%= image_tag answer.image.url(:image_cropped) %>
						</a>
					</div>
				</div>
				<% end %>
			</div>
		</div>


	<% elsif @question.category_id == 3 %>

		<div class='write-word jsData' data-question-id='<%= @question.id %>' data-answer='<%= @question.answers.first.title %>'>

				<div data-answer-id='<%= @question.answers.first.id %>' class='js-write-word dots-container clearfix'></div>

			<div class='js-set-letters letters clearfix'></div>
		
		</div>
		
		<%= link_to 'Bevestig antwoord', submit_answer_path(@question, answer_id: 1), remote: true,	class: 'js-answer-trigger answer' %> 

	<% end %>

	<div class='question-popup'>
		<p></p>
		<%= link_to 'Volgende', @question_random, class: 'btn-default next' %>
		<%= link_to 'Stoppen', root_path, class: 'btn-default quit' %>
	</div>

	<div class="overlay-popup"></div>

</div>