<div class='question'>
	
	<h6><%= @question.category.title %></h6>
	<p>Taal: <%= @question.language.title %></p>
	
	<% if @question.image %>
		<div class='question-image'>
			<%= image_tag @question.image.url(:thumb) %>
		</div>
	<% end %>




	<% if @question.category_id == 1 %>	
		
		<h3><%= @question.title %></h3>

		<div class='answer-container jsData' data-question-id='<%= @question.id %>'  data-wrong-answer-id='<%= @question.correct_answer_id + 1 %>'>
			<% @question.answers.shuffle.each do |answer| %>
				<%= link_to answer.title, submit_answer_path(@question, answer_id: answer.id),
						class: 'js-answer-trigger answer' %>
			<% end %>
		</div>

	

	<% elsif @question.category_id == 2 %>	
		
		<h3><%= @question.title %></h3>

		<div class='jsData image-container' data-question-id='<%= @question.id %>'  data-wrong-answer-id='<%= @question.correct_answer_id + 1 %>'>
			<% @question.answers.shuffle.each do |answer| %>
				<a class='js-answer-trigger' href='<%= submit_answer_path(@question, answer_id: answer.id) %>'>
					<%= image_tag answer.image.url(:thumb) %>
				</a>
			<% end %>
		</div>


	<% elsif @question.category_id == 3 %>

		<div class='write-word jsData' data-question-id='<%= @question.id %>'>
			
			<div data-answer='<%= @question.answers.first.title %>' data-answer-id='<%= @question.answers.first.id %>' class='js-write-word dots-container clearfix'></div>

			<div class='js-set-letters letters clearfix'></div>
		
		</div>
		
		<%= link_to 'Bevestig antwoord', submit_answer_path(@question, answer_id: 1), remote: true,	class: 'js-answer-trigger answer' %> 

	<% end %>

	<div class='timer'></div>

	<div class='question-popup'>
		<p></p>
		<%= link_to 'Volgende', @question_random, class: 'btn-default' %>
		<%= link_to 'Stoppen', root_path, class: 'btn-default' %>
	</div>

	<div class="overlay-popup"></div>

</div>