<ul>
	<li><%= image_tag @team.picture.url(:thumb) %></li>
	<li><%= @team.name %></li>
	<li><%= @team.description %></li>
	<li>Team leader: <%= @team.user.name %></li>
	<h4>Team leden:</h4>
  
	<table>
		<thead>
			<tr>
				<th>gebruiker</th>
				<th>Teampunten</th>
			</tr>
		</thead>
		<tbody>
			<% @memberships.each do |m| %>
				<tr>
					<td><%= m.user.name %></td>
					<td><%= m.points %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</ul>
<% if current_user == @team.user %>
	<%= link_to 'Leden uitnodigen', new_team_membership_path(@team) %>
<% end %>
<p>Punten:
	<%= 'teampoints' %>
</p>