<div class='profile-overview'>
	<% if current_user.avatar? %>
		<div class='mini-thumb'>
			<%= image_tag current_user.avatar.url(:mini_thumb) %>
		</div>
	<% elsif current_user.provider == 'facebook' %>
		<img src=<%= current_user.facebook_image_url %>>
	<% else %>
		<div class='name-chars'>
			<%= current_user.name.chars.first %>
		</div>
	<% end %>
	<div class='profile-info'>
		<h4><%= current_user.name %></h4>
		<h5><%= current_user.email %></h5>
		<li>
			<%= link_to 'Profiel aanpassen', edit_user_registration_path %>
		</li>
		<i>
			<%= current_user.points %>
			<%= 'punt' if current_user.points == 1  %>
			<%= 'punten' if current_user.points != 1 %>
		</i>
		<h5>Teams:</h5>
		<ul>
			<li>
				<% @teams.each do |t| %>
					<%= t.name %>
				<% end %>
			</li>
		</ul>
	</div>
</div>