<%= render 'shared/profile_overview' %>

<div class="clearfix">
	<%= link_to 'Vraag toevoegen', new_question_path, class: 'btn-home icon add-question' %>
	<% if Question.where(approved: true).any? %>
	  <%= link_to 'Spel spelen', static_pages_choose_game_path, class: 'btn-home icon icon play' %>
	<% end %>

	<%= link_to 'Mijn profiel', current_user, class: 'btn-home icon profile' %>

	<%= link_to 'Klassement', leaderboard_path, class: 'btn-home icon leaderboard' %>
</div>

<%= link_to @word_of_this_week, class: 'margin-fix' do %>
	<%= render 'shared/word_of_the_week', word_of_the_week: @word_of_this_week %>
<% end %>

