<h2><%= @user.name %></h2>

<% if @user.avatar? %>
	<%= image_tag @user.avatar.url(:thumb) %>
<% else %>
	<%= @user.name.chars.first %>
<% end %>


<ul>
	<li>
		Email: <%= @user.email %>
	</li>
	<li>
		Punten: <%= @user.points %>

	</li>
</ul>

<div id='chart_fries'></div>
<div id='chart_engels'></div>
<div id='chart_nederlands'></div>

<div id='chart_reading'></div>
<div id='chart_writing'></div>

<script type="text/javascript">
  var ready;
  ready = function() {
    function initChart(id, goodAnswers, badAnswers, textTitle) {
      if ( goodAnswers > 0 || badAnswers > 0 ) {

        Highcharts.setOptions({
          colors: ['#00BA25', '#FA0000']
        });

        $(id).highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: textTitle
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Percentage',
                data: [
                    ['Goed beantwoord',  goodAnswers],
                    ['Fout beantwoord',  badAnswers],
                ]
            }]
        });
     
      }
    };
    
    var id = '#chart_fries';
    var goodAnswers = <%= @user.user_results.where(language_id: 1, correctly_answered: true).count %>;
    var badAnswers = <%= @user.user_results.where(language_id: 1, correctly_answered: false).count %>;
    var textTitle = 'Fries';

    if ($('#chart_fries').length) {
        initChart(id, goodAnswers, badAnswers, textTitle);
    }

    id = '#chart_engels';
    goodAnswers = <%= @user.user_results.where(language_id: 2, correctly_answered: true).count %>;
    badAnswers = <%= @user.user_results.where(language_id: 2, correctly_answered: false).count %>;
    textTitle = 'Engels';
    
    if ($('#chart_engels').length) {
        initChart(id, goodAnswers, badAnswers, textTitle);
    }

    id = '#chart_nederlands';
    goodAnswers = <%= @user.user_results.where(language_id: 3, correctly_answered: true).count %>;
    badAnswers = <%= @user.user_results.where(language_id: 3, correctly_answered: false).count %>;
    textTitle = 'Nederlands';
    if ($('#chart_nederlands').length) {
        initChart(id, goodAnswers, badAnswers, textTitle);
    }
  }

$(document).ready(ready);
$(document).on('page:load', ready);

</script>