<h2 class="title">Inloggen</h2>

<div class="login-box">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <div class="email-icon"> </div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <div class="key-icon"> </div>
        <%= f.label :wachtwoord %>
        <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :Ingelogd_blijven %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
