<!DOCTYPE html>
<html>
<head>
  <title>LIT</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <% if user_signed_in? %>
	  <%= render 'shared/menu' %>
  <% end %>
	<%= render 'shared/notice' %>
	<span class='back'>
		<%= link_to 'terug', :back if action_name != 'home' %>
	</span>
	<h1><%= link_to 'LIT', root_path %></h1>
</header>

<%= yield %>

<div class='overlay'></div>

</body>
</html>


