<!DOCTYPE html>
<html>
<head>
  <title>LIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<%= render 'shared/menu' %>
	<%= render 'shared/notice' %>
</header>
<h1><%= link_to 'LIT', root_path %></h1> <%= link_to 'terug', :back if action_name != 'home' %>

<%= yield %>

<div class='overlay'></div>

</body>
</html>
