<!DOCTYPE html>
<html>
<head>
  <title>Switsj</title>
  <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="green">
</head>
<body>
  
<header>
  <%= render 'layouts/analytics' %>
  <div class="wrapper">
    <% if user_signed_in? %>
  	  <%= render 'shared/menu' %>
    <% end %>
  	<%= render 'shared/notice' %>
  	<h1 class="logo">
      <%= link_to 'Switsj', root_path %>
    </h1>
  </div>
</header>

<div class="wrapper <%= 'inlog-bg' if !user_signed_in? %>">
  <%= yield %>
</div>

<div class='overlay'></div>
</div> 



</body>
</html>


